.vis .controls,
.vis .controls * {
	box-sizing: content-box;		/* Needed for embedding into our WordPress set-up */
}

.vis.ie {
	font-style: italic;
	color: white;
	background-color: rgb(83,83,83);
}

.link {
	fill: none;
	stroke: grey;
	stroke-width: 1.5px;
}

.node circle {
	cursor: pointer;
	stroke-width: 3px;
}

.node circle.unfilled {
	fill: #f3f3f3 !important;		/* Used to take priority over fill colours set via JavaScript */
}

.vis {
	width: 1140px;
	height: 740px;
}

.vis *,
.d3-tip {
	font-size: 14px;
	color: rgba(0,0,0,0.87);
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen-Sans,
		Ubuntu,
		Cantarell,
		"Helvetica Neue",
		sans-serif !important;		/* Used to take priority over something specified as !important in CSS in WordPress */
		letter-spacing: 0px;
}

.vis svg {
	background-color: #f3f3f3;
}

.vis svg .button rect {
	fill: #f3f3f3;
	stroke: rgba(0, 0, 0, 0.2);
	stroke-width:1px;
	cursor: pointer;
}

.vis svg .button text {
	fill: rgba(0,0,0,0.87);
	cursor: pointer;
}

/* D3 tooltips */
.d3-tip {
	line-height: 1;
	padding: 12px;
	background: #535353;
	color: white;
	border-radius: 2px;
	pointer-events: none;
	width: 250px;
	user-select: none;
	z-index: 11;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
}

@media (max-width: 1024px) {
	.d3-tip {
		position: fixed!important;
		right: 0!important;
		left: 0!important;
		top: auto!important;
		bottom: 0!important;
		width: 100%!important;
		z-index: 100001;
		border-radius: 0;
	}
}

.d3-tip b {
	font-weight: 600;
}

.d3-tip p:first-letter {
	text-transform:capitalize;
}

.d3-tip .tooltip-header {
	font-size: 1.5em;
	font-weight: 600;
	margin: 0px;
}

.d3-tip .tooltip-pupils {
	font-style: italic;
	text-align: right;
	margin: 0px;
}

.scroll-wrapper {
	overflow-x: scroll;
	background: #f3f3f3;
}


/* Buttons. Via https://codepen.io/JiveDig/pen/jbdJXR */
.controls {
	font-size: 0;		/* so that whitespace doesn't show between in-line divs */
	line-height: normal;
}

@media (min-width: 640px) {
	.controls {
		white-space: nowrap;
	}
}

.controls .switch-controls {
	font-size: 14px;			/* can't use relative sizing, as font-size set to 0 on .controls  */
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: default;
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-webkit-touch-callout: none;
	-o-user-select: none;
	-moz-user-select: none;
}

@media (min-width: 760px) {
	.controls #help-controls {
		float: right;
	}
}

@media (max-width: 760px) {
	.controls #help-controls {
		margin-bottom: 15px;
	}
}

.scroll-wrapper {
	clear: both;
}

@media (min-width: 1140px) {
	.controls {
		display: flex;
	}

	.controls #phase-controls {
		flex: 1 1 auto;
	}

	.controls #help-controls {
		vertical-align: top;
		text-align: right;
		float: none;
	}

	.controls #measure-controls.prim {
		text-align: right;
	}

	.controls #measure-controls.sec {
		text-align: right;
	}

}

@media (max-width: 1140px) {
	.controls #help-controls {
		margin-top: 2px !important;
	}
}


.switch-controls input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-controls label {
	display: block;
	width: 140px;
	background-color: #f3f3f3;
	text-align: center;
	padding: 6px 14px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}

@media (min-width: 760px) {
	.switch-controls label {
		display: inline-block;
	}
}

.switch-controls label:hover {
	cursor: pointer;
}

.switch-controls input:checked + label {
	background-color: #efa2cc;
	-webkit-box-shadow: none;
	box-shadow: none;
}

@media (min-width: 760px) {
	.switch-controls#phase-controls label:last-of-type,
	.switch-controls#measure-controls label:last-of-type {		/* handles the fact that the order of the measure controls is the reverse of what it appears to be */
		border-radius: 0 4px 4px 0;
	}

	.switch-controls#phase-controls label:first-of-type,
	.switch-controls#measure-controls label:first-of-type {		/* handles the fact that the order of the measure controls is the reverse of what it appears to be */
		border-radius: 4px 0 0 4px;
	}
}

.switch-controls#phase-controls label,
.switch-controls#measure-controls label {
	/* margin-right: -5px; */
}

.switch-controls .help-icon {		/* for text alignment with input labels */
	position: relative;
	margin-right: 10px;
	cursor: pointer;
	top: 6px;
}

.switch-controls br {
	display: none;
}

.switch-controls .help-icon:hover .vis-tooltip {
	visibility: visible;
}

.switch-controls .fa-question-circle {
	color: #535353;
	font-size: 20px;
	font-family: 'Font Awesome 5 Free' !important		/* Used to take priority over something specified as !important in CSS in WordPress */
}

.vis-tooltip {
	visibility: hidden;
	background-color: #535353;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	width: 280px;
	position: absolute;
	z-index: 1;
	top: -10px;
	left: 0;
	cursor: default;
	white-space: normal;
}

@media (min-width: 760px) {
	.vis-tooltip {
		right: 0;
		left: auto;
	}
}

.vis-tooltip #measure-description-text {
	color: white;
}

.vis-tooltip ::after {
	content: "";
	position: absolute;
	top: 17px;
	left: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent transparent #535353;
	display: none;
}

/* SVG text*/
.vis svg text {
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen-Sans,
		Ubuntu,
		Cantarell,
		"Helvetica Neue",
		sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
}

.vis svg .title {
	font-weight: bolder;
	font-size: 1em;
}

.vis svg .title.header {
	font-size: 1.5em;
}

.vis svg .notes {
	font-size: 10px;
}

.vis svg .notes.header {
	text-decoration: underline;
}

.vis svg .notes.url {
	fill: rgb(230,0,126);
	text-decoration: underline;
}

/* Labels */
/* Make all node labels non-selectable, and prevent them being a barrier where they overlap nodes */
.node-label {
	pointer-events: none;
}
