.link {
	fill: none;
	stroke: grey;
	stroke-width: 1.5px;
}

.node circle {
	cursor: pointer;
	stroke-width: 3px;
}

.node circle.unfilled {
	fill: #f3f3f3 !important;		/* XXX */
}

body, button {
	font-size: 14px;
	color: rgba(0,0,0,0.87);
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen-Sans,
		Ubuntu,
		Cantarell,
		"Helvetica Neue",
		sans-serif;
}

.vis {
	width: 1140px;
	height: 730px;
}

svg {
	background-color: #f3f3f3;
}

svg .button rect {
	fill: #f3f3f3;
	stroke: rgba(0, 0, 0, 0.2);
	stroke-width:1px;
	cursor: pointer;
}

svg .button text {
	fill: rgba(0,0,0,0.87);
	cursor: pointer;
}

/* D3 tooltips */
.d3-tip {
	line-height: 1;
	padding: 12px;
	background: #535353;
	color: white;
	border-radius: 2px;
	pointer-events: none;
	width: 250px;
}

.d3-tip b {
	font-weight: 600;
}

.d3-tip p:first-letter {
	text-transform:capitalize;
}

.d3-tip .tooltip-header {
	font-size: 1.5em;
	font-weight: 600;
	margin: 0px;
}

.d3-tip .tooltip-pupils {
	font-style: italic;
	text-align: right;
	margin: 0px;
}

/* Buttons. Via https://codepen.io/JiveDig/pen/jbdJXR */
.controls {
	white-space: nowrap;
}

.controls .switch-controls {
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
}

.controls #phase-controls {
	width: 260px;
}

.controls #help-controls {
	vertical-align: top;
	height: 34px;
}

.controls #help-controls.prim {
	width: 360px;
}

.controls #help-controls.sec {
	width: 490px;
}

.controls #measure-controls.prim {
	text-align: right;
}

.controls #measure-controls.prim {
	width: 520px;
}

.controls #measure-controls.sec {
	width: 390px;
}

.switch-controls input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-controls label {
	width: 100px;
	height: 20px;
	background-color: #f3f3f3;
	text-align: center;
	padding: 6px 14px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}

.controls #phase-controls label {
	float: left;
}

.controls #measure-controls label {
	float: right;
}

.switch-controls label:hover {
	cursor: pointer;
}

.switch-controls input:checked + label {
	background-color: #efa2cc;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.switch-controls#phase-controls label:first-of-type,
.switch-controls#measure-controls label:last-of-type {		/* handles the fact that the order of the measure controls is the reverse of what it appears to be */
	border-radius: 4px 0 0 4px;
}

.switch-controls#phase-controls label:last-of-type,
.switch-controls#measure-controls label:first-of-type {		/* handles the fact that the order of the measure controls is the reverse of what it appears to be */
	border-radius: 0 4px 4px 0;
}

.switch-controls .help-icon {		/* for text alignment with input labels */
	position: relative;
	top: 10px;
	cursor: pointer;
}

.switch-controls.prim .help-icon {
	left: 330px;
}

.switch-controls.sec .help-icon {
	left: 460px;
}

.switch-controls .help-icon i {
	line-height: 0px;
}

.switch-controls .help-icon:hover .tooltip {
	visibility: visible;
}

.switch-controls .fa-question-circle {
	color: #535353;
	font-size: 20px;
}

.tooltip {
	visibility: hidden;
	background-color: #535353;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	width: 280px;
	position: absolute;
	z-index: 1;
	top: -10px;
	right: 24px;
	cursor: default;
	white-space: normal;
}

.tooltip #measure-description-text {
	color: white;
}

.tooltip ::after {
	content: "";
	position: absolute;
	top: 17px;
	left: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent transparent #535353;
}

/* SVG text*/
svg {
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen-Sans,
		Ubuntu,
		Cantarell,
		"Helvetica Neue",
		sans-serif;
}

svg .title {
	font-weight: bolder;
	font-size: 1em;
}

svg .title.header {
	font-size: 1.5em;
}

svg .notes {
	font-size: 10px;
}

svg .notes.header {
	text-decoration: underline;
}

svg .notes.url {
	fill: rgb(230,0,126);
	text-decoration: underline;
}

/* Labels */
.nonselectable {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
}
