.link {
	fill: none;
	stroke: grey;
	stroke-width: 1.5px;
}

.node circle {
	cursor: pointer;
	stroke-width: 3px;
}

.node circle.unfilled {
	fill: #f3f3f3 !important;
}

.node.nochild circle {
	cursor: default;
}

body, button {
	font-size: 14px;
	color: rgba(0,0,0,0.87);
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen-Sans,
		Ubuntu,
		Cantarell,
		"Helvetica Neue",
		sans-serif;
}

svg {
	background-color: #f3f3f3;
}

svg .button rect {
	fill: #f3f3f3;
	stroke: rgba(0, 0, 0, 0.2);
	stroke-width:1px;
	cursor: pointer;
}

svg .button text {
	fill: rgba(0,0,0,0.87);
	cursor: pointer;
}

/* Tooltips */
.d3-tip {
	line-height: 1;
	padding: 12px;
	background: #535353;
	color: white;
	border-radius: 2px;
	pointer-events: none;
	max-width: 250px;
}

.d3-tip b {
	font-weight: 600;
}

.d3-tip p:first-letter {
	text-transform:capitalize;
}

.tooltip-header {
	font-size: 1.5em;
	font-weight: 600;
	margin: 0px;
}

.tooltip-pupils {
	font-style: italic;
	text-align: right;
	margin: 0px;
}

/* Buttons. Via https://codepen.io/JiveDig/pen/jbdJXR */
.switch-controls {
	padding-bottom: 14px;
	padding-left: 20px;
	overflow: hidden;
}

.switch-title {
	margin-bottom: 6px;
}

.switch-controls input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-controls label {
	float: left;
	display: inline-block;
	width: 100px;
	background-color: #f3f3f3;
	text-align: center;
	padding: 6px 14px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}

.switch-controls label:hover {
	cursor: pointer;
}

.switch-controls input:checked + label {
	background-color: #efa2cc;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.switch-controls label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-controls label:last-of-type {
	border-radius: 0 4px 4px 0;
}

button {
	float: left;
	display: inline-block;
	border-radius: 4px 4px 4px 4px;
	background-color: #f3f3f3;
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

/* SVG text*/
svg {
	color: rgba(0,0,0,0.87);
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen-Sans,
		Ubuntu,
		Cantarell,
		"Helvetica Neue",
		sans-serif;
}

svg .title {
	font-weight: bolder;
	font-size: 1em;
}

svg .title.header {
	font-size: 1.5em;
}

svg .notes {
	font-size: 10px;
}

svg .notes.header {
	text-decoration: underline;
}
