.link {
	fill: none;
	stroke: grey;
	stroke-width: 1.5px;
}

.node circle {
	cursor: pointer;
	stroke-width: 3px;
}

.node circle.filled {
	fill: grey;
}

.node circle.unfilled {
	fill: white;
}

.node.nochild circle {
	cursor: default;
}

body {
	font-size: 14px;
	color: rgba(0,0,0,0.87);
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen-Sans,
		Ubuntu,
		Cantarell,
		"Helvetica Neue",
		sans-serif;
}

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0,0,0,0.87);
  color: white;
  border-radius: 2px;
  pointer-events: none;
}

/* Buttons. Via https://codepen.io/JiveDig/pen/jbdJXR */
.switch-field {
	padding: 40px;
	overflow: hidden;
}

.switch-title {
	margin-bottom: 6px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
	float: left;
	display: inline-block;
	width: 60px;
	background-color: #f3f3f3;
	text-align: center;
	padding: 6px 14px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #efa2cc;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}
